In [9]:
import sys
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install statsmodels
!{sys.executable} -m pip install googlemaps

Requirement already satisfied: matplotlib in ./venv/lib/python2.7/site-packages
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.7.1 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: pytz in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: backports.functools-lru-cache in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: subprocess32 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.0 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: pandas in ./venv/lib/python2.7/site-packages
Requirement already satisfied: pytz>=2011k in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: python-dateutil in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in ./venv/lib/python2.7/site-packages (from python-dateutil->pandas)
Requirement already satisfied: statsmodels in ./venv/lib/python2.7/site-packages
Requirement already satisfied: scipy in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: patsy in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: pandas in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: numpy>=1.8.2 in ./venv/lib/python2.7/site-packages (from scipy->statsmodels)
Requirement already satisfied: six in ./venv/lib/python2.7/site-packages (from patsy->statsmodels)
Requirement already satisfied: pytz>=2011k in ./venv/lib/python2.7/site-packages (from pandas->statsmodels)
Requirement already satisfied: python-dateutil in ./venv/lib/python2.7/site-packages (from pandas->statsmodels)
Requirement already satisfied: googlemaps in ./venv/lib/python2.7/site-packages
Requirement already satisfied: requests<3.0,>=2.11.1 in ./venv/lib/python2.7/site-packages (from googlemaps)
Requirement already satisfied: idna<2.7,>=2.5 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
#import statsmodels.api as sm

In [36]:
flights = pd.read_csv('./data/flights/all_flights.csv')
flights = flights.drop(columns=['FL_NUM', 'ORIGIN_CITY_MARKET_ID', 'DEST_CITY_MARKET_ID'])
flights = flights.loc[:, ~flights.columns.str.contains('^Unnamed')]

ufos = pd.read_csv("data/ufo-sightings/ufos-2013.csv", sep=',', low_memory=False)
ufos['lat'] = ufos['latitude']
ufos['lng'] = ufos['longitude']
ufos = ufos[[ 'datetime', 'duration (seconds)', 'lat', 'lng' ]]
ufos = ufos[ ufos['datetime'] > '2013-01-01 00:00:00' ]

In [39]:
ufos.head()

              datetime  duration (seconds)        lat         lng
5  2013-01-01 00:01:00               180.0  45.523611 -122.675000
6  2013-01-01 00:02:00               120.0  30.411111  -88.827778
7  2013-01-01 00:02:00                60.0  18.473833  -66.938512
8  2013-01-01 00:04:00               300.0 -27.522349  153.191323
9  2013-01-01 00:04:00               180.0  37.639167 -120.995833

In [40]:
flights.head()

      FL_DATE  DEP_TIME  ARR_TIME      o_lat      o_lng      d_lat      d_lng
0  2013-01-01     71820     82680  40.690292 -73.988544  26.640628 -81.872308
1  2013-01-01     43140     53940  40.690292 -73.988544  26.640628 -81.872308
2  2013-01-01     56640     67140  40.690292 -73.988544  26.640628 -81.872308
3  2013-01-01     59580     68820  26.640628 -81.872308  40.690292 -73.988544
4  2013-01-01     70140     79560  26.640628 -81.872308  40.690292 -73.988544