In [1]:
import sys
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install statsmodels
!{sys.executable} -m pip install googlemaps

Requirement already satisfied: matplotlib in ./venv/lib/python2.7/site-packages
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.7.1 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: pytz in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: backports.functools-lru-cache in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: cycler>=0.10 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: subprocess32 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: python-dateutil>=2.0 in ./venv/lib/python2.7/site-packages (from matplotlib)
Requirement already satisfied: pandas in ./venv/lib/python2.7/site-packages
Requirement already satisfied: pytz>=2011k in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: python-dateutil in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: numpy>=1.9.0 in ./venv/lib/python2.7/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in ./venv/lib/python2.7/site-packages (from python-dateutil->pandas)
Requirement already satisfied: statsmodels in ./venv/lib/python2.7/site-packages
Requirement already satisfied: scipy in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: patsy in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: pandas in ./venv/lib/python2.7/site-packages (from statsmodels)
Requirement already satisfied: numpy>=1.8.2 in ./venv/lib/python2.7/site-packages (from scipy->statsmodels)
Requirement already satisfied: six in ./venv/lib/python2.7/site-packages (from patsy->statsmodels)
Requirement already satisfied: pytz>=2011k in ./venv/lib/python2.7/site-packages (from pandas->statsmodels)
Requirement already satisfied: python-dateutil in ./venv/lib/python2.7/site-packages (from pandas->statsmodels)
Requirement already satisfied: googlemaps in ./venv/lib/python2.7/site-packages
Requirement already satisfied: requests<3.0,>=2.11.1 in ./venv/lib/python2.7/site-packages (from googlemaps)
Requirement already satisfied: idna<2.7,>=2.5 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in ./venv/lib/python2.7/site-packages (from requests<3.0,>=2.11.1->googlemaps)

In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *
#import statsmodels.api as sm

In [9]:
def to_hhmmss(seconds):
    hours = seconds / 3600
    seconds -= hours * 3600
    minutes = seconds / 60
    seconds -= minutes * 60
    if hours < 10:
        hh = '0' + str(hours)
    else:
        hh = str(hours % 24)
    if minutes < 10:
        mm = '0' + str(minutes)
    else:
        mm = str(minutes)
    if seconds < 10:
        ss = '0' + str(seconds)
    else:
        ss = str(seconds)
    return hh +':' + mm + ':' + ss

def get_dep_timestamp(f):
    return f['FL_DATE'] + ' ' + to_hhmmss(f['DEP_TIME'])
    
def get_arr_timestamp(f):
    return f['FL_DATE'] + ' ' + to_hhmmss(f['ARR_TIME'])

# Getting our data

### Flights
1. Bureau of Transportation Statistics
2. left-joining lookup tables of flight -> lookup tables for airports -> lookup tables for city markets
3. locations of airport from "city markets" with Google Geocoding -> able to adjust timezones with Google Timezone


### UFOs
1. Kaggle UFO data

In [16]:
flights = pd.read_csv('./data/flights/all_flights.csv')
flights = flights.drop(columns=['FL_NUM', 'ORIGIN_CITY_MARKET_ID', 'DEST_CITY_MARKET_ID'])
flights = flights.loc[:, ~flights.columns.str.contains('^Unnamed')]

ufos = pd.read_csv("data/ufo-sightings/ufos-2013.csv", sep=',', low_memory=False)
ufos['lat'] = ufos['latitude']
ufos['lng'] = ufos['longitude']
ufos = ufos[[ 'datetime', 'duration (seconds)', 'lat', 'lng' ]]
ufos = ufos[ ufos['datetime'] > '2013-01-01 00:00:00' ]

flights['dep_timestamp'] = flights.apply(get_dep_timestamp, axis=1)
flights['arr_timestamp'] = flights.apply(get_arr_timestamp, axis=1)

95220

# Calculating distance
- latitude & longitude of arrival & departure within a set time and distance bubble
- curve of the airplane goes upwards

In [18]:
results = pd.DataFrame(columns=['ufo_datetime', 'flight_datetime', 'from_origin'])

for _, u in ufos.iterrows():
    for _, f in flights.iterrows():
        d_to_origin = (( (f['o_lat'] - u['lat'])**2 + (f['o_lng'] - u['lng'])**2 ) ** 0.5) * 55.2428
        d_to_dest = (( (f['d_lat'] - u['lat'])**2 + (f['d_lng'] - u['lng'])**2 ) ** 0.5) * 55.2428
        if d_to_origin < 40 and abs(pd.Timestamp(f['dep_timestamp']) - pd.Timestamp(u['datetime'])) < pd.Timedelta(Hour(1)):
            print 'origin ' + u['datetime']
            results.loc[results.size] = [u['datetime'], f['dep_timestamp'], True]
            break
        elif d_to_dest < 40 and abs(pd.Timestamp(f['arr_timestamp']) - pd.Timestamp(u['datetime'])) < pd.Timedelta(Hour(1)):
            print 'dest ' + u['datetime']
            results.loc[results.size] = [u['datetime'], f['arr_timestamp'], Fa]
            break

dest 2013-01-01 00:05:00
origin 2013-01-02 06:20:00
origin 2013-01-03 04:10:00
dest 2013-01-04 18:00:00
dest 2013-01-04 19:00:00
origin 2013-01-05 21:04:00
dest 2013-01-14 21:39:00
dest 2013-01-15 02:20:00
dest 2013-01-17 20:15:00
origin 2013-01-24 16:10:00
origin 2013-01-27 22:57:00
dest 2013-01-31 23:30:00
origin 2013-03-15 20:34:00
dest 2013-03-16 23:00:00
origin 2013-03-20 21:30:00
dest 2013-03-21 18:00:00
dest 2013-03-21 22:15:00
dest 2013-03-22 19:56:00
origin 2013-03-22 22:00:00
dest 2013-03-25 22:00:00
origin 2013-03-28 11:25:00
origin 2013-03-28 23:00:00
dest 2013-03-29 23:30:00
dest 2013-03-29 23:30:00
dest 2013-03-30 22:39:00
origin 2013-04-30 23:10:00
dest 2013-05-01 14:00:00
origin 2013-05-01 21:25:00
origin 2013-05-04 21:30:00
dest 2013-05-04 22:30:00
origin 2013-05-10 22:27:00
dest 2013-05-11 23:58:00
origin 2013-05-14 04:00:00
dest 2013-05-15 00:00:00
dest 2013-05-15 22:00:00
dest 2013-05-17 19:00:00
dest 2013-05-19 22:52:00
origin 2013-05-20 22:30:00
origin 2013-05-20 22:45:00
dest 2013-05-20 23:00:00
dest 2013-05-22 21:45:00
dest 2013-05-26 21:03:00
dest 2013-05-26 22:30:00
dest 2013-05-26 22:45:00
dest 2013-05-27 00:10:00
dest 2013-05-27 20:55:00
origin 2013-05-29 21:16:00
origin 2013-05-31 22:30:00
dest 2013-06-01 21:00:00
dest 2013-06-03 22:30:00
origin 2013-06-04 23:00:00
origin 2013-06-09 16:00:00
origin 2013-06-22 21:33:00
dest 2013-06-22 22:00:00
dest 2013-06-22 22:15:00
dest 2013-06-24 22:00:00
origin 2013-06-27 21:54:00
dest 2013-07-01 23:40:00
dest 2013-07-04 21:01:00
dest 2013-07-04 21:51:00
origin 2013-07-04 22:00:00
origin 2013-07-04 22:00:00
origin 2013-07-04 22:30:00
origin 2013-07-04 22:40:00
dest 2013-07-04 23:15:00
dest 2013-07-04 23:30:00
dest 2013-07-05 00:00:00
dest 2013-07-05 22:40:00
dest 2013-07-06 21:30:00
origin 2013-07-06 22:00:00
origin 2013-07-06 22:25:00
origin 2013-07-06 23:00:00
origin 2013-07-07 02:00:00
origin 2013-07-07 20:59:00
origin 2013-07-07 21:00:00
origin 2013-07-07 21:05:00
origin 2013-07-07 23:00:00
origin 2013-07-12 21:00:00
dest 2013-07-14 22:10:00
dest 2013-07-14 23:40:00
origin 2013-07-16 22:30:00
dest 2013-07-18 21:15:00
dest 2013-07-19 22:00:00
origin 2013-07-19 23:00:00
origin 2013-07-21 20:45:00
dest 2013-07-23 22:34:00
dest 2013-07-24 21:40:00
origin 2013-07-25 21:15:00
dest 2013-07-26 23:00:00
origin 2013-07-27 21:30:00
dest 2013-07-27 22:20:00
dest 2013-07-28 23:00:00
dest 2013-07-29 20:45:00
dest 2013-07-29 21:50:00
origin 2013-07-30 22:00:00
dest 2013-07-31 21:30:00
origin 2013-08-02 23:00:00
dest 2013-08-03 04:05:00
origin 2013-08-03 21:30:00
dest 2013-08-05 21:46:00
origin 2013-08-06 21:35:00
dest 2013-08-08 21:50:00
dest 2013-08-08 23:35:00
origin 2013-08-09 21:45:00
origin 2013-08-09 21:45:00
origin 2013-08-09 21:45:00
origin 2013-08-12 00:00:00
dest 2013-08-14 17:00:00
origin 2013-08-14 21:50:00
origin 2013-08-15 21:45:00
dest 2013-08-16 22:30:00
origin 2013-08-16 23:00:00
dest 2013-08-17 22:08:00
origin 2013-08-19 21:59:00
origin 2013-08-21 21:40:00
origin 2013-08-21 21:40:00
origin 2013-08-21 22:30:00
origin 2013-08-22 22:30:00
dest 2013-08-23 23:45:00
dest 2013-08-24 20:35:00
dest 2013-08-24 21:00:00
dest 2013-08-24 21:00:00
dest 2013-08-24 21:15:00
origin 2013-08-25 19:50:00
origin 2013-08-25 21:00:00
origin 2013-08-25 22:00:00
origin 2013-08-27 20:50:00
dest 2013-08-27 22:50:00
dest 2013-08-29 21:05:00
dest 2013-08-30 21:00:00
dest 2013-08-31 21:00:00

In [20]:
results

            ufo_datetime      flight_datetime from_origin
0    2013-01-01 00:05:00   2013-01-01 0:44:00        True
3    2013-01-02 06:20:00  2013-01-02 06:26:00        True
6    2013-01-03 04:10:00   2013-01-03 3:58:00        True
9    2013-01-04 18:00:00  2013-01-04 18:54:00        True
12   2013-01-04 19:00:00  2013-01-04 19:29:00        True
15   2013-01-05 21:04:00  2013-01-05 21:56:00        True
18   2013-01-14 21:39:00  2013-01-14 22:17:00        True
21   2013-01-15 02:20:00   2013-01-15 1:59:00        True
24   2013-01-17 20:15:00  2013-01-17 19:34:00        True
27   2013-01-24 16:10:00  2013-01-24 16:55:00        True
30   2013-01-27 22:57:00  2013-01-27 22:06:00        True
33   2013-01-31 23:30:00  2013-01-31 22:56:00        True
36   2013-03-15 20:34:00  2013-03-15 19:59:00        True
39   2013-03-16 23:00:00  2013-03-16 23:33:00        True
42   2013-03-20 21:30:00  2013-03-20 20:47:00        True
45   2013-03-21 18:00:00  2013-03-21 18:59:00        True
48   2013-03-21 22:15:00  2013-03-21 23:03:00        True
51   2013-03-22 19:56:00  2013-03-22 19:51:00        True
54   2013-03-22 22:00:00  2013-03-22 22:14:00        True
57   2013-03-25 22:00:00  2013-03-25 22:51:00        True
60   2013-03-28 11:25:00  2013-03-28 11:28:00        True
63   2013-03-28 23:00:00  2013-03-28 22:36:00        True
66   2013-03-29 23:30:00  2013-03-29 23:33:00        True
69   2013-03-29 23:30:00  2013-03-29 23:33:00        True
72   2013-03-30 22:39:00  2013-03-30 22:49:00        True
75   2013-04-30 23:10:00   2013-05-01 0:08:00        True
78   2013-05-01 14:00:00  2013-05-01 13:48:00        True
81   2013-05-01 21:25:00  2013-05-01 21:22:00        True
84   2013-05-04 21:30:00  2013-05-04 21:09:00        True
87   2013-05-04 22:30:00  2013-05-04 22:48:00        True
..                   ...                  ...         ...
303  2013-08-08 21:50:00  2013-08-08 21:52:00        True
306  2013-08-08 23:35:00  2013-08-08 23:56:00        True
309  2013-08-09 21:45:00  2013-08-09 21:53:00        True
312  2013-08-09 21:45:00  2013-08-09 21:53:00        True
315  2013-08-09 21:45:00  2013-08-09 21:53:00        True
318  2013-08-12 00:00:00  2013-08-11 23:48:00        True
321  2013-08-14 17:00:00  2013-08-14 17:09:00        True
324  2013-08-14 21:50:00  2013-08-14 22:14:00        True
327  2013-08-15 21:45:00  2013-08-15 22:08:00        True
330  2013-08-16 22:30:00  2013-08-16 23:16:00        True
333  2013-08-16 23:00:00  2013-08-16 22:56:00        True
336  2013-08-17 22:08:00  2013-08-17 22:55:00        True
339  2013-08-19 21:59:00  2013-08-19 22:10:00        True
342  2013-08-21 21:40:00  2013-08-21 22:07:00        True
345  2013-08-21 21:40:00  2013-08-21 22:07:00        True
348  2013-08-21 22:30:00  2013-08-21 22:07:00        True
351  2013-08-22 22:30:00  2013-08-22 22:25:00        True
354  2013-08-23 23:45:00  2013-08-23 23:56:00        True
357  2013-08-24 20:35:00  2013-08-24 20:43:00        True
360  2013-08-24 21:00:00  2013-08-24 20:43:00        True
363  2013-08-24 21:00:00  2013-08-24 20:43:00        True
366  2013-08-24 21:15:00  2013-08-24 20:43:00        True
369  2013-08-25 19:50:00  2013-08-25 19:31:00        True
372  2013-08-25 21:00:00  2013-08-25 20:29:00        True
375  2013-08-25 22:00:00  2013-08-25 22:05:00        True
378  2013-08-27 20:50:00  2013-08-27 21:00:00        True
381  2013-08-27 22:50:00  2013-08-27 22:24:00        True
384  2013-08-29 21:05:00  2013-08-29 21:35:00        True
387  2013-08-30 21:00:00  2013-08-30 20:48:00        True
390  2013-08-31 21:00:00  2013-08-31 20:21:00        True

[131 rows x 3 columns]